<div class="container content" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-6" style="background-color: red;">
            hola
        </div>
        <div class="col-md-6" style="background-color: black;">
            Mundo
        </div>
    </div>
</div>