<style>
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
</style>

<div class="toolbar">
Proyecto Piloto Angular
</div>
<app-saludador></app-saludador>
